<h3 class="page-heading">CloudMonitor datasource details</h3>

<div class="gf-form-group max-width-30">
    <div class="gf-form">
        <span class="gf-form-label width-7">Endpoint</span>
        <input class="gf-form-input" type="text" ng-model='ctrl.current.url' min-length="0"
               ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"
               required/>
        <info-popover mode="right-absolute">
            <p>Specify a appropriate Endpoint for your requests.</p>
        </info-popover>
    </div>
    <div class="gf-form">
        <label class="gf-form-label width-13">Access key ID </label>
        <label class="gf-form-label width-13" ng-show="ctrl.accessKeyExist">Configured</label>
        <a class="btn btn-secondary gf-form-btn" type="submit" ng-click="ctrl.resetAccessKey()"
           ng-show="ctrl.accessKeyExist">Reset</a>
        <input type="text" class="gf-form-input max-width-18" ng-hide="ctrl.accessKeyExist"
               ng-model='ctrl.current.jsonData.cmsAccessKey'/>
    </div>
    <div class="gf-form">
        <label class="gf-form-label width-13">Secret access key</label>
        <label class="gf-form-label width-13" ng-show="ctrl.secretKeyExist">Configured</label>
        <a class="btn btn-secondary gf-form-btn" type="submit" ng-click="ctrl.resetSecretKey()"
           ng-show="ctrl.secretKeyExist">Reset</a>
        <input type="password" class="gf-form-input max-width-18" ng-hide="ctrl.secretKeyExist"
               ng-model='ctrl.current.jsonData.cmsSecretKey'/>
    </div>
</div>
